@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?gydeqy');
  src:  url('../assets/fonts/icomoon.eot?gydeqy#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?gydeqy') format('truetype'),
    url('../assets/fonts/icomoon.woff?gydeqy') format('woff'),
    url('../assets/fonts/icomoon.svg?gydeqy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell-clean:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
