@import './fonts.css';
@import './base.css';
@import './components/buttons/buttons.css';
@import './components/inputs/search-input.css';
@import './components/ui/ranking-point.css';
@import './components/ui/card.css';
@import './components/header/header.css';
@import './wrapper.css';
@import './components/slider/slider.css';
@import './components/movies/movies.css';
@import './components/loading.css';

.container{
    border: 1px solid red;
    padding: 1rem;
}