@import './assets/css/fonts.css';
@import './assets/css/base.css';
@import './assets/css/components/buttons/buttons.css';
@import './assets/css/components/inputs/search-input.css';
@import './assets/css/components/ui/ranking-point.css';
@import './assets/css/components/ui/card.css';
@import './assets/css/components/header/header.css';
@import './assets/css/wrapper.css';
@import './assets/css/components/slider/slider.css';
@import './assets/css/components/movies/movies.css';
@import './assets/css/components/loading.css';


.content{
    text-align: center;
    padding-block: 2rem;
}

.content.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    block-size: 19.375rem;
}